<%= form_with(model: llink, local: true) do |form| %>
  <% if llink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(llink.errors.count, "error") %> prohibited this llink from being saved:</h2>

      <ul>
      <% llink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
