<p id="notice"><%= notice %></p>

<h1>Llinks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @llinks.each do |llink| %>
      <tr>
        <td><%= llink.title %></td>
        <td><%= llink.url %></td>
        <td><%= link_to 'Show', llink %></td>
        <td><%= link_to 'Edit', edit_llink_path(llink) %></td>
        <td><%= link_to 'Destroy', llink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Llink', new_llink_path %>
