<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @llink.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @llink.url %>
</p>

<%= link_to 'Edit', edit_llink_path(@llink) %> |
<%= link_to 'Back', llinks_path %>
